body {
    background-color: olive;
    color:bisque;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: darkolivegreen;
    color:bisque;
    font-family: "Montserrat", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}
